<main class="page-content">
  <ng-template #detailView let-pokemonData="pokemonData">
    @if(pokemonData) {
    <div class="detail-layout">
      <section class="detail-artwork">
        <mat-card appearance="outlined" class="app-surface">
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label="Artwork">
                <div class="imgContainer">
                  <img
                    [ngSrc]="
                      pokemonData.id
                        | pokemonImage : pokemonSpriteTypePath.ARTWORK
                    "
                    width="340"
                    height="340"
                    priority
                    [alt]="
                      (pokemonData.species_names
                        | pokemonSpeciesName : languageService.langId()) +
                      ' artwork'
                    "
                  />
                </div>
              </mat-tab>
              <mat-tab label="Sprites">
                <div class="imgContainer sprite-container">
                  <div class="sprite-row">
                    <img
                      [ngSrc]="
                        pokemonData.id
                          | pokemonImage : pokemonSpriteTypePath.BACK
                      "
                      width="96"
                      height="96"
                      [alt]="
                        (pokemonData.species_names
                          | pokemonSpeciesName : languageService.langId()) +
                        ' back sprite'
                      "
                    />
                    <img
                      [ngSrc]="
                        pokemonData.id
                          | pokemonImage : pokemonSpriteTypePath.FRONT
                      "
                      width="96"
                      height="96"
                      [alt]="
                        (pokemonData.species_names
                          | pokemonSpeciesName : languageService.langId()) +
                        ' front sprite'
                      "
                    />
                  </div>
                  <mat-divider />
                  <div class="sprite-row">
                    <img
                      [ngSrc]="
                        pokemonData.id
                          | pokemonImage : pokemonSpriteTypePath.SHINY_BACK
                      "
                      width="96"
                      height="96"
                      [alt]="
                        (pokemonData.species_names
                          | pokemonSpeciesName : languageService.langId()) +
                        ' shiny back sprite'
                      "
                    />
                    <img
                      [ngSrc]="
                        pokemonData.id
                          | pokemonImage : pokemonSpriteTypePath.SHINY_FRONT
                      "
                      width="96"
                      height="96"
                      [alt]="
                        (pokemonData.species_names
                          | pokemonSpeciesName : languageService.langId()) +
                        ' shiny front sprite'
                      "
                    />
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>

            <mat-chip-set>
              @for(typeElement of pokemonData.types; track typeElement.type_id) {
              <mat-chip
                class="type-chip"
                [style.--type-color]="
                  typeElement.type_id | typeToName | colorForType
                "
              >
                <img
                  matChipAvatar
                  [src]="
                    './assets/images/types/' +
                    (typeElement.type_id | typeToName) +
                    '.svg'
                  "
                  alt=""
                />
                {{ "types." + (typeElement.type_id | typeToName) | translate }}
              </mat-chip>
              }
            </mat-chip-set>
          </mat-card-content>
        </mat-card>
      </section>

      <section class="detail-info">
        <mat-card appearance="outlined" class="app-surface">
          <mat-card-content>
            <mat-tab-group>
              @if(pokemonData.stats) {
              <mat-tab [label]="'status' | translate">
                <app-pokemon-status-table [pokemonStats]="pokemonData.stats ?? []"
                 />
              </mat-tab>
              } @if(evolutionChain().length > 1) {
              <mat-tab [label]="'evolutions' | translate">
                @defer (on viewport) {
                <app-evolution-tab [evolutionChain]="evolutionChain()"
                  [maximalEvolutionStep]="maximalEvolutionStep()"
                  [actualLanguageId]="languageService.langId()"
                 />
                } @placeholder () {
                <mat-spinner class="deferred-spinner" />
                }
              </mat-tab>
              } @if(pokemonData.types) {
              <mat-tab [label]="'typeEffectiveness.title' | translate">
                <app-pokemon-type-effectiveness-table [typeEffectiveness]="
                    (pokemonData.typeEffectiveness | sortByTypeDamage) ?? []
                  "
                 />
              </mat-tab>
              }
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </section>

      @if(pokemonData.moves) {
      <section class="detail-moves">
        <app-move-table [pokemonMoves]="pokemonData.moves ?? []"
         />
      </section>
      }
    </div>
    }
  </ng-template>

  <ng-container [ngTemplateOutlet]="detailView"
    [ngTemplateOutletContext]="{ pokemonData: pokemonData() }"
   />
</main>
