<div class="container mt-2">
  @if(pokemonData) {
  <div class="row">
    <div class="col-md-4 mt-2">
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Artwork">
              <div class="imgContainer">
                <img
                  class="center"
                  [ngSrc]="
                    pokemonData.id
                      | pokemonImage : pokemonSpriteTypePath.ARTWORK
                  "
                  width="340"
                  height="340"
                  priority
                />
              </div>
            </mat-tab>
            <mat-tab label="Sprites">
              <div class="imgContainer">
                <div class="text-center">
                  <img
                    [ngSrc]="
                      pokemonData.id | pokemonImage : pokemonSpriteTypePath.BACK
                    "
                    width="96"
                    height="96"
                  />
                  <img
                    [ngSrc]="
                      pokemonData.id
                        | pokemonImage : pokemonSpriteTypePath.FRONT
                    "
                    width="96"
                    height="96"
                  />
                </div>
                <mat-divider></mat-divider>
                <div class="text-center">
                  <img
                    [ngSrc]="
                      pokemonData.id
                        | pokemonImage : pokemonSpriteTypePath.SHINY_BACK
                    "
                    width="96"
                    height="96"
                  />
                  <img
                    [ngSrc]="
                      pokemonData.id
                        | pokemonImage : pokemonSpriteTypePath.SHINY_FRONT
                    "
                    width="96"
                    height="96"
                  />
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

          <mat-chip-set>
            @for(typeElement of pokemonData.types; track $index) {
            <mat-chip
              [ngStyle]="{
                'background-color':
                  typeElement.type_id | typeToName | colorForType
              }"
            >
              <img
                matChipAvatar
                [src]="
                  './assets/images/types/' +
                  (typeElement.type_id | typeToName) +
                  '.svg'
                "
                [alt]="typeElement.type_id | typeToName | titlecase"
              />
              {{ "types." + (typeElement.type_id | typeToName) | translate }}
            </mat-chip>
            }
          </mat-chip-set>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-8 mt-2">
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-tab-group>
            @if(pokemonData.stats) {
            <mat-tab [label]="'status' | translate">
              <app-pokemon-status-table [pokemonStats]="pokemonData.stats">
              </app-pokemon-status-table>
            </mat-tab>
            } @if(evolutionChain.length > 1) {
            <mat-tab [label]="'evolutions' | translate">
              @defer (on viewport) {
              <app-evolution-tab
                [evolutionChain]="evolutionChain"
                [maximalEvolutionStep]="maximalEvolutionStep"
                [actualLanguageId]="languageService.langId()"
              ></app-evolution-tab>
              } @placeholder () {
              <mat-spinner class="mt-3 mb-3 center"></mat-spinner>
              }
            </mat-tab>
            } @if(pokemonData.types) {
            <mat-tab [label]="'typeEffectiveness.title' | translate">
              <app-pokemon-type-effectiveness-table
                [typeEffectiveness]="
                  (pokemonData.typeEffectiveness | sortByTypeDamage) ?? []
                "
              ></app-pokemon-type-effectiveness-table>
            </mat-tab>
            }
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    @if(pokemonData.moves) {
    <div class="col-md-12 mt-3">
      <app-move-table [pokemonMoves]="pokemonData.moves"></app-move-table>
    </div>
    }
  </div>
  }
</div>
