<div class="container mt-2">
  <div *ngIf="pokemonData" class="row">
    <div class="col-md-4 mt-2">
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab label="Artwork">
              <div class="imgContainer">
                <img
                  class="center"
                  [src]="
                    pokemonData.id
                      | pokemonImage : pokemonSpriteTypePath.ARTWORK
                  "
                />
              </div>
            </mat-tab>
            <mat-tab label="Sprites">
              <div class="imgContainer">
                <div class="text-center">
                  <img
                    [src]="
                      pokemonData.id | pokemonImage : pokemonSpriteTypePath.BACK
                    "
                  />
                  <img
                    [src]="
                      pokemonData.id
                        | pokemonImage : pokemonSpriteTypePath.FRONT
                    "
                  />
                </div>
                <mat-divider></mat-divider>
                <div class="text-center">
                  <img
                    [src]="
                      pokemonData.id
                        | pokemonImage : pokemonSpriteTypePath.SHINY_BACK
                    "
                  />
                  <img
                    [src]="
                      pokemonData.id
                        | pokemonImage : pokemonSpriteTypePath.SHINY_FRONT
                    "
                  />
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

          <mat-chip-set>
            <mat-chip
              *ngFor="let typeElement of pokemonData.types"
              [ngStyle]="{
                'background-color':
                  typeElement.type_id | typeToName | colorForType
              }"
            >
              <img
                matChipAvatar
                [src]="
                  './assets/images/types/' +
                  (typeElement.type_id | typeToName) +
                  '.svg'
                "
                [alt]="typeElement.type_id | typeToName | titlecase"
              />
              {{ "types." + (typeElement.type_id | typeToName) | translate }}
            </mat-chip>
          </mat-chip-set>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-8 mt-2">
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-tab-group>
            <mat-tab [label]="'status' | translate" *ngIf="pokemonData.stats">
              <app-pokemon-status-table [pokemonStats]="pokemonData.stats">
              </app-pokemon-status-table>
            </mat-tab>
            <mat-tab
              [label]="'evolutions' | translate"
              *ngIf="evolutionChain.length > 1"
            >
              <app-evolution-tab
                [evolutionChain]="evolutionChain"
                [maximalEvolutionStep]="maximalEvolutionStep"
                [actualLanguageId]="actualLanguageId"
              ></app-evolution-tab>
            </mat-tab>
            <mat-tab
              [label]="'typeEffectiveness.title' | translate"
              *ngIf="pokemonData.types"
            >
              <app-pokemon-type-effectiveness-table
                [typeEffectiveness]="
                  (pokemonData.typeEffectiveness | sortByTypeDamage) ?? []
                "
              ></app-pokemon-type-effectiveness-table>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-12 mt-3" *ngIf="pokemonData.moves">
      <app-move-table [pokemonMoves]="pokemonData.moves"></app-move-table>
    </div>
  </div>
</div>
