.imgContainer {
  display: flex;
  justify-content: center;
  height: 324px;
  flex-flow: column wrap;
  overflow: hidden;
  img {
    max-width: 90%;
  }
}

.evolution-container {
  display: grid;
  gap: 10px;

  .pokemon-card {
    background-color: #212121;
    &:hover {
      background-color: var(--bs-code-color, transparent);
    }
  }
}
