.nodeContainer {
  display: inline-block;
  position: relative;
  margin-left: 20px;
}

.closeNodeButton {
  scale: 0.75;
  right: 0;
  top: 5px;
}

.language-select-button-group {
  font-size: 14px;
}

@media (max-width: 576px) {
  .mat-toolbar-single-row {
    flex-wrap: wrap;
    height: 100px;
  }
}
