<mat-toolbar>
  <span>Pokedex</span>
  <div class="ms-4">
    <button mat-button color="primary" [routerLink]="['']">Home</button>
  </div>
  <button
    *ngIf="sidenavService.nodes.length"
    mat-button
    color="primary"
    [matMenuTriggerFor]="nodes"
    [matBadge]="sidenavService.nodes.length"
  >
    Tabs
  </button>
  <mat-menu #nodes="matMenu" class="nodeMatMenu">
    <button
      mat-menu-item
      *ngFor="let node of sidenavService.nodes"
      [routerLink]="node.url"
    >
      {{ node.name | pokemonSpeciesName : actualLanguageId }}
    </button>
  </mat-menu>
  <div class="flex-align-right language-select-wrapper">
    <mat-button-toggle-group
      class="mat-elevation-z2 language-select-button-group"
      [(ngModel)]="actualLanguage"
      (ngModelChange)="onChangeLanguage()"
    >
      <mat-button-toggle
        *ngFor="let lang of languages | keyvalue"
        [value]="lang.key"
      >
        {{ "langs." + lang.key | translate }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</mat-toolbar>
