<div class="filters">
  <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        type="search"
        autocomplete="off"
        aria-label="Search Pokémon by name"
        [ngModel]="filtersService.name()"
        (ngModelChange)="nameChanged.next($event)"
      />
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>{{ "filter.types" | translate }}</mat-label>
      <mat-select
        [ngModel]="filtersService.types()"
        (ngModelChange)="onTypesChange($event)"
        multiple
      >
        @for (type of availableTypes; track type) {
        <mat-option [value]="type">
          {{ "types." + (type | typeToName) | translate }}
        </mat-option>
        }
      </mat-select>
  </mat-form-field>
</div>
