@let typeEffectivenessValue = typeEffectiveness();

<table mat-table [dataSource]="typeEffectivenessValue">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>{{ "filter.types" | translate }}</th>
    <td mat-cell *matCellDef="let typeEffectivenessValue">
      <mat-chip
        class="type-chip"
        [style.--type-color]="
          typeEffectivenessValue.typeId | typeToName | colorForType
        "
      >
        <img
          matChipAvatar
          [src]="
            './assets/images/types/' +
            (typeEffectivenessValue.typeId | typeToName) +
            '.svg'
          "
          alt=""
        />
        {{
          "types." + (typeEffectivenessValue.typeId | typeToName) | translate
        }}
      </mat-chip>
    </td>
  </ng-container>

  <ng-container matColumnDef="damage">
    <th mat-header-cell *matHeaderCellDef class="numeric-cell">
      {{ "value" | translate }}
    </th>
    <td mat-cell *matCellDef="let typeEffectivenessValue" class="numeric-cell">
      {{
        typeEffectivenessValue.damage === 0
          ? ("immune" | translate)
          : typeEffectivenessValue.damage + "x"
      }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
