<div
  class="evolution-container align-items-center justify-content-center mt-2"
  [ngStyle]="{
    'grid-template-columns': 'repeat(' + (maximalEvolutionStep + 1) + ', 1fr)'
  }"
>
  <mat-card
    class="pokemon-card"
    *ngFor="let pokemon of evolutionChain"
    [routerLink]="['/pokemon/', pokemon.identifier]"
    [ngStyle]="{
      'grid-column': (pokemon.step ?? 0) + 1
    }"
  >
    <mat-card-header>
      <mat-card-subtitle>
        {{
          pokemon.names ?? []
            | pokemonSpeciesName : actualLanguageId
            | titlecase
        }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="text-center">
      <div class="image-container center">
        <img
          [src]="pokemon.id | pokemonImage : pokemonSpriteTypePath.FRONT"
          class="center text-center image-container"
        />
      </div>
    </mat-card-content>
  </mat-card>
</div>
