<table mat-table [dataSource]="pokemonStats()">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ "stats." + element.stat_id | translate }}
    </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef class="numeric-cell">
      {{ "value" | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="numeric-cell">
      {{ element.base_stat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="valueVisual">
    <th mat-header-cell *matHeaderCellDef class="numeric-cell">
      {{ "graphicValue" | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="stat-value-cell">
      <div
        class="statusBar"
        [style.width.%]="(element.base_stat / 200) * 100"
        [style.background-color]="element.base_stat | colorForStatusValue"
        role="img"
        [attr.aria-label]="element.base_stat + ' / 200'"
      ></div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
