<mat-card>
  <mat-card-header>
    <mat-card-title>{{ "moveTable.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-9 mt-2">
        <mat-button-toggle-group
          class="mat-elevation-z2 mt-3"
          [(ngModel)]="currentLearnType"
          (ngModelChange)="getData()"
        >
          <mat-button-toggle [value]="1">{{
            "moveTable.learnTypes.levelUp" | translate
          }}</mat-button-toggle>
          <mat-button-toggle [value]="3">{{
            "moveTable.learnTypes.tutor" | translate
          }}</mat-button-toggle>
          <mat-button-toggle [value]="4">{{
            "moveTable.learnTypes.machine" | translate
          }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="col-md-3 text-end mt-2">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Pokemon Version</mat-label>
          <mat-select [(ngModel)]="currentVersion" (ngModelChange)="getData()">
            @for (version of allVersions; track $index) {
            <mat-option [value]="version">
              {{ version | versionName : languageService.langId }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="table-container">
      <table
        mat-table
        [dataSource]="filteredMoves"
        class="mat-elevation-z2 mt-3"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let move">
            {{ move.names | moveName : languageService.langId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef class="text-center">Level</th>
          <td mat-cell *matCellDef="let move" class="text-center">
            {{ move.level > 0 ? move.level : "-" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nodata">
          <td
            mat-footer-row
            *matFooterCellDef
            [colSpan]="displayedColumns.length"
            class="text-center"
          >
            {{ "table.noResult" | translate }}
          </td>
        </ng-container>

        <tr
          mat-footer-row
          [hidden]="filteredMoves.length > 0"
          *matFooterRowDef="['nodata']"
        ></tr>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
