/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~bootstrap/dist/css/bootstrap-utilities.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
  color: rgba(255, 255, 255, 0.7);
}

.center {
  margin: 0px auto;
}

.pokemon-card {
  cursor: pointer;
  transition: all ease-in-out 250ms;
  &:hover {
    background-color: var(--bs-code-color, transparent);
  }
}

.flex-align-right {
  margin-left: auto;
}
