.pokemon-card {
  cursor: pointer;
  transition: all ease-in-out 250ms;
}

.pokemon-card:hover {
  background-color: var(--bs-code-color, transparent);
}

::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
