::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.viewport {
  height: 80vh;
}

.image-container {
  max-width: 96px;
  height: 96px;
}
