<div class="container">
  <div class="row">
    <div *ngIf="isLoading">
      <mat-spinner class="pt-3 pb-3 center"></mat-spinner>
    </div>

    <mat-form-field class="mt-2">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" (ngModelChange)="onNameChange()" />
    </mat-form-field>

    <div class="pokemon-container">
      <div class="p-2" *ngFor="let row of filteredData">
        <mat-card
          class="pokemon-card"
          [routerLink]="['/pokemon/', row.identifier]"
        >
          <mat-card-header>
            <mat-card-subtitle>{{ row.translatedName }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="text-center">
            <div class="image-container center">
              <img
                [src]="row.id | pokemonImageByUrl : pokemonSpriteTypePath.FRONT"
                class="center text-center image-container"
              />
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <mat-paginator
      [length]="pokemonCount"
      [pageSize]="pageSize"
      (page)="changePage($event)"
    >
    </mat-paginator>
  </div>
</div>
